<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xlr8.quadcontrol" android:installLocation="internalOnly">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="QuadControl" android:icon="@drawable/logo512"></application>
</manifest>